.movieTitle {
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
  color: white;
  transition: all 0.25s linear;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  text-decoration: none;
  &:hover {
    color: var(--purple99);
  }
}
