.homeSection {
  margin: 30px 0;
}
.homeSectionLabel {
  margin: 20px 0;
}
.homeSectionList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-gap: 16px 16px;
  @media screen and (max-width: 640px) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
