.summary {
  display: inline-block;
  padding-right: 10px;
}
.introduction {
  line-height: 1.7;
}
.toggle {
  padding-left: 10px;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-weight: 500;
}
